body {
  font-family: Georgia, "Times New Roman", Times, serif;
  color: #333;
  background-image: linear-gradient(45deg, white, red);
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  margin: 0%;
}
header {
  background-image: linear-gradient(45deg, red, #2bd2ff, white);
}

.fixednav {
  position: sticky;
}

.navbar ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-image: linear-gradient(45deg, red, #2bd2ff, white);
  border-bottom: 1px solid black;
  
}

.navbar li {
  float: left;
}

.navbar a {
  display: block;
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  
}

.navbar a:hover {
  background-color: #2bd2ff;
}

h1 {
  color: white;
  text-shadow: 0 0 1px black, 0 0 1px black, 0 0 1px black, 0 0 1px black;
  margin-top: 0%;
  text-align: center;
}
.main-container {
  width: auto;
  margin: 0 auto;
}

#main-bio {
  display: flex;
  align-items: center;
  flex-direction: column;
  border-bottom: 1px solid black;
  padding-bottom: 20px;
}
#contact-info {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 20px;
  border-bottom: 1px solid black;
  padding-bottom: 20px;
}

#bio-image {
  width: 200px;
  height: auto;
}

#first-project {
  max-width: 300px;
  max-height: 200px;
}

#Bio {
  text-align: center;
}

.flex {
display: flex;
}

.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid black;
  padding: 20px;
  margin: 0 10px;
  background-color: lightgrey;
}

#projects {
padding-top: 20px;
display: flex;
flex-direction: column;
}