body {
  font-family: Georgia, "Times New Roman", Times, serif;
  color: #333;
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  margin: 0%;
}
header {
  background-color: #333;
}

h1 {
  color: white;
  margin-top: 0%;
  text-align: center;
}
.main-container {
  width: auto;
  margin: 0 auto;
}

#main-bio {
  width: 70%;
}
#contact-info {
  margin: 0 auto;
}

#bio-image {
  width: 200px;
  height: 200px;
}

#first-project {
  max-width: 300px;
  max-height: 200px;
}

#Bio {
  text-align: center;
}
